.field {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: grid;
    grid-area: 1/1/1/1;

    &__tile {
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 5rem;
        transition: .3s;
    }
}